@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP&family=Poller+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP&family=Noto+Serif+TC:wght@300&family=Poller+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat+Subrayada:wght@700&family=Noto+Sans&family=Noto+Sans+JP&family=Noto+Serif+TC:wght@300&family=Poller+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mukta:wght@300&display=swap");
.aboutContainer {
  margin: 0 100px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.helloContainer {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.aboutBox {
  display: flex;
  height: 600px;
  justify-content: center;
}

.img-hello {
  img {
    width: 500px;
    height: auto;
  }
  display: flex;
  margin-top: 50px;
}

.hello {
  align-self: center;
  border: 2px solid $dark-green;
  padding: 30px;
  font-size: 24px;
  line-height: 2;
  font-weight: 400;
  z-index: 2;
  font-family: "Inter", sans-serif;
  background-color: $light-green;
  align-self: center;
}
.aboutMe {
  margin-top: 30px;
  margin-right: 30px;
  align-self: flex-end;
  font-size: 85px;
  color: $dark-orange;
  font-family: "Montserrat Subrayada", sans-serif;
}

.lfContainer {
  // padding: 20px;
  align-self: center;
  align-items: center;
  border: 5px solid $light-orange;

  width: 100%;
}

.technologies {
  display: flex;
  font-size: 25px;
}

.triangle-row {
  display: flex;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
}
.triangle-group {
  align-self: center;
  margin: 2px;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;

  border-top: 13px solid rgb(233, 156, 12);
}

.technologies-list {
  margin: 0px;
  // overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  align-items: center;
  grid-gap: 2em;
  padding: 10px;
}
.list-item {
  font-size: 20px;
  justify-self: center;
}

@media screen and (max-width: 1424px) {
  .aboutContainer {
    margin: 0 20px;
  }
  .hello {
    font-size: 22px;
  }
}

@media screen and (max-width: 1180px) {
  .hello {
    font-size: 19px;
  }
  .technologies-list {
    font-size: 18px;
  }
  .img-hello {
    img {
      width: 400px;
      height: auto;
    }
  }
  .aboutMe {
    font-size: 70px;
  }
}
@media screen and (max-width: 984px) {
  .hello {
    font-size: 18px;
  }
  .technologies-list {
    font-size: 18px;
  }
  .img-hello {
    img {
      width: 350px;
      height: auto;
    }
  }
  .aboutMe {
    font-size: 65px;
  }
}
@media screen and (max-width: 937px) {
  .hello {
    font-size: 20px;
    margin: 20px;
    line-height: 1.5;
  }
  .aboutMe {
    font-size: 65px;
    align-self: center;
  }
  .img-hello {
    flex-direction: column;
    align-items: center;
  }
  .img-hello {
    img {
      width: 450px;
      height: auto;
    }
  }
}

@media screen and (max-width: 550px) {
  .hello {
    font-size: 18px;
    margin: 20px 0px;
    line-height: 1.5;
  }
  .img-hello {
    img {
      width: 320px;
      height: auto;
    }
  }
  .aboutMe {
    font-size: 40px;
    margin-right: 0;
  }

  .technologies {
    font-size: 20px;
  }

  .technologies-list {
    font-size: 18px;
  }

  // .lfContainer {
  //   padding: 10px;

  //   margin: 0;
  // }

  .helloContainer {
    margin-left: 0;
  }
  .technologies-list {
    margin: 0px;
    // overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    align-items: center;
    grid-gap: 2em;
    padding: 20px;
  }
  .list-item {
    font-size: 18px;
    justify-self: center;
  }
  .aboutContainer {
    margin: 0 10px;
  }
}
