@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP&family=Poller+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP&family=Noto+Serif+TC:wght@300&family=Poller+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat+Subrayada:wght@700&family=Noto+Sans&family=Noto+Sans+JP&family=Noto+Serif+TC:wght@300&family=Poller+One&display=swap");

.contactContainer {
  height: 100vh;
  background-color: $dark-green;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contacts-list {
  display: flex;

  margin-top: 25px;
  color: white;
}
.contacts-item {
  display: flex;
  // justify-content: center;
  margin-right: 30px;
  align-items: center;
  margin-bottom: 10px;
}
.contacts-item-3 {
  display: flex;

  margin-right: 0px;
  align-items: center;
  margin-bottom: 10px;
}
.contactName {
  text-align: center;
  margin-bottom: 10px;
  margin-right: 10px;
  font-weight: 500;
  font-size: 60px;
  color: white;
  font-family: "Montserrat Subrayada", sans-serif;
}

.questions {
  text-align: center;
  color: white;
  font-size: 32px;
  margin-top: 20px;
  font-weight: 300;
}

.contact-button {
  height: 60px;
  width: 170px;
  border: 2px solid white;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-green;
  color: white;
  font-size: 25px;
  font-weight: 500;
}
.contact-button:hover {
  background-color: $dark-orange;
  color: white;
}

.link-mail {
  a {
    text-decoration: none;
  }
}
@media screen and (max-width: 550px) {
  .contacts-list {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
  }
  .questions {
    font-size: 30px;
    margin-top: 10px;
  }
}
