@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat+Subrayada:wght@700&family=Noto+Sans&family=Noto+Sans+JP&family=Noto+Serif+TC:wght@300&family=Poller+One&display=swap");
.homeContainer {
  height: 100vh;
  background-color: #d69a4c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 3px solid #52504e;
}

.box {
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.triangle {
  margin-right: 10px;
  margin-left: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 50px solid #030303;
}

.triangleup {
  margin-right: 10px;
  margin-left: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 50px solid #020202;
}

.myName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 85px;
  font-family: "Montserrat Subrayada", sans-serif;
}

.underline {
  height: 2px;
  width: 500px;
  background-color: black;
}

.webDeveloper {
  font-size: 25px;
  margin-top: 10px;
}

.home-scroll-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  -webkit-animation: bounce 0.7s infinite alternate;
          animation: bounce 0.7s infinite alternate;
  margin-bottom: 20px;
  cursor: pointer;
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}

@keyframes bounce {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}

.home-scroll-button .svg-inline--fa {
  font-size: 60px;
  height: 40px;
}

@media screen and (max-width: 894px) {
  .myName {
    font-size: 65px;
  }
}

@media screen and (max-width: 730px) {
  .myName {
    font-size: 50px;
  }
  .triangle {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 40px solid #030303;
  }
  .triangleup {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 40px solid #020202;
  }
  .underline {
    height: 2px;
    width: 250px;
  }
}

@media screen and (max-width: 600px) {
  .myName {
    font-size: 45px;
    text-align: center;
    font-family: "Montserrat Subrayada", sans-serif;
  }
  .underline {
    height: 2px;
    width: 200px;
    background-color: black;
  }
  .webDeveloper {
    font-size: 25px;
    margin-top: 10px;
  }
  .box {
    margin-top: 300px;
  }
  .triangleup {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid #020202;
  }
  .triangle {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #030303;
  }
}
/*# sourceMappingURL=Home.css.map */