@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat+Subrayada:wght@700&family=Noto+Sans&family=Noto+Sans+JP&family=Noto+Serif+TC:wght@300&family=Poller+One&display=swap");
.homeContainer {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  // justify-content: center;
  z-index: 1;
  border-bottom: 3px solid rgb(82, 80, 78);
}
.left-side-home {
  height: 100%;
  width: 100%;
  background-color: $light-green;
  display: flex;
  justify-content: flex-end;
}
.right-side-home {
  height: 100%;
  width: 100%;
  background-color: $light-orange;
  display: flex;
}

.box1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 8px;
}
.box2 {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 5px;
}
.triangle {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
  align-self: center;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 50px solid $dark-orange;
}
.triangleup {
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 10px;
  align-self: center;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;

  border-bottom: 50px solid $dark-green;
}

.myName1 {
  display: flex;
  flex-direction: column;
  font-size: 85px;
  font-family: "Montserrat Subrayada", sans-serif;
  color: $dark-orange;
}
.myName2 {
  display: flex;
  flex-direction: column;
  font-size: 85px;
  font-family: "Montserrat Subrayada", sans-serif;
  color: $dark-green;
}

.underline {
  height: 3px;
  width: 500px;
  background-color: black;
}

.webDeveloper1 {
  font-size: 25px;
  margin-top: 10px;
  text-align: end;
}
.webDeveloper2 {
  text-align: start;
  font-size: 25px;
  margin-top: 10px;
}
.home-scroll-button {
  position: absolute;
  color: $dark-green;
  bottom: 20;
  left: 706;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  animation: bounce 0.7s infinite alternate;
  margin-bottom: 20px;
  cursor: pointer;
  @keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-25px);
    }
  }

  .svg-inline--fa {
    font-size: 60px;
    height: 40px;
  }
}

@media screen and (max-width: 894px) {
  .myName1 {
    font-size: 65px;
  }
  .myName2 {
    font-size: 65px;
  }
}

@media screen and (max-width: 730px) {
  .myName1 {
    font-size: 50px;
  }
  .myName2 {
    font-size: 50px;
  }
  .triangle {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
  }
  .triangleup {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
  }
  .underline {
    height: 2px;
    width: 250px;
  }
  .webDeveloper1 {
    font-size: 22px;
  }
  .webDeveloper2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 600px) {
  .myName1 {
    font-size: 38px;
  }
  .myName2 {
    font-size: 38px;
    text-align: center;
    // font-family: "Press Start 2P", cursive;
    font-family: "Montserrat Subrayada", sans-serif;
  }
  .webDeveloper1 {
    font-size: 18px;
  }
  .webDeveloper2 {
    font-size: 18px;
  }

  .underline {
    height: 2px;
    width: 200px;
    background-color: black;
  }

  .box1 {
    margin-top: 300px;
    // margin-left: 25px;
  }
  .box2 {
    margin-top: 300px;
    // margin-left: 25px;
  }
  // .arrow {
  //   margin-left: 40px;
  // }

  .triangleup {
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 25px solid $dark-green;
  }

  .triangle {
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 25px solid $dark-orange;
  }
}
