@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat+Subrayada:wght@700&family=Noto+Sans&family=Noto+Sans+JP&family=Noto+Serif+TC:wght@300&family=Poller+One&display=swap");

.projects-container {
  height: 100vh;
  margin: 0 100px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.projects-header {
  font-family: "Montserrat Subrayada", sans-serif;
  color: $dark-grey;
  font-size: 85px;
}

.projects-inner-container {
  padding: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: end;
  grid-gap: 3rem;
  margin-top: 80px;
}

.projects {
  padding: 5px;
  border: 2px solid #878e88;
  text-align: center;

  height: 100%;
  display: grid;
  justify-items: center;
  padding: 0;
  background-color: #dedfde;
  border-radius: 5px;
}
