@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat+Subrayada:wght@700&family=Noto+Sans&family=Noto+Sans+JP&family=Noto+Serif+TC:wght@300&family=Poller+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mukta:wght@300&display=swap");
.projectsContainer {
  margin: 0 100px;
  min-height: 100vh;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}
.projects-header {
  font-family: "Montserrat Subrayada", sans-serif;
  color: $dark-grey;
  font-size: 75px;
  margin-top: 50px;
}

.projects-inner-container {
  margin: 0px;
  // overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  align-items: end;
  grid-gap: 2em;
  margin-top: 70px;
}

.projects {
  position: relative;
  border: 2px solid #343835;
  text-align: center;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 0;
  background-color: $light-green;
}
.info-button {
  background-color: $dark-green;
  border: 2px solid black;
  color: white;
  font-size: 18px;
  padding: 7px 7px;
  width: 100px;
  margin-top: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: 600;
}
.info-button:hover {
  border: 2px solid black;
  background-color: $light-green;
  color: $dark-green;
}
.description {
  font-size: 20px;
  visibility: hidden;
  z-index: 1;
  position: absolute;
  top: 70px;
  padding: 10px;
}
.description2 {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}

.external-links {
  z-index: 1;
  position: absolute;
  top: 20px;
  right: 20px;
  // left: 25px;
}

.external-links {
  a {
    color: $dark-green;
    .svg-inline--fa {
      font-size: 2em;
    }
  }
}
.external-links a:hover {
  color: $dark-orange;
}

.projects-img {
  margin: 2px;
  opacity: 0.2;
  max-width: 98%;

  // position: relative;
  // z-index: 2;
}
.name-x {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.name-button {
  height: 20px;
  widows: 20px;
  color: $dark-green;
  background-color: transparent;
  font-weight: 500;
  font-size: 17px;
}
.name-button:hover {
  transform: scale(1.5);
}
.app-name {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  margin-top: 5px;
}
.project-inner-container-2 {
  border-top: 1px solid black;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.underline-projects {
  height: 4px;
  width: 430px;
  background-color: $dark-green;
}

.modalBackground {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
  position: absolute;
  z-index: 3;
  align-self: center;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
}
.modalShowing-true {
  opacity: 1;
  pointer-events: visible;
}

.modal-inner {
  background: rgb(44, 43, 43);
  width: 900px;
  max-width: calc(100% - 60px);
  margin: auto;
  display: flex;
  border: 1px solid $dark-green;
}
.modal-img img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.modal-text {
  padding: 15px;
  font-size: 15px;
  color: white;
  font-weight: 300;
  display: flex;
  flex-direction: column;
}

.modal-text2 {
  padding: 15px;
  font-size: 13px;
  color: white;
  padding-left: 0;
  font-style: italic;
  padding-top: 20px;
}

.app-name-modal {
  font-size: 22px;
  font-weight: 500;
  color: $dark-green;
  margin-bottom: 20px;
  font-family: "Montserrat Subrayada", sans-serif;
}

.external-links-modal {
  a {
    color: WHITE;
    .svg-inline--fa {
      font-size: 1.6em;
    }
  }
}
.external-links-modal a:hover {
  color: $dark-green;
}
@media screen and (max-width: 1424px) {
  .projectsContainer {
    margin: 0 40px;
  }
  .projects-header {
    font-family: "Montserrat Subrayada", sans-serif;
    color: $dark-grey;
    font-size: 65px;
  }
}
@media screen and (max-width: 1043px) {
  .projectsContainer {
    height: auto;
  }
}
@media screen and (max-width: 711px) {
  .projects-header {
    font-size: 55px;
  }
  .info-button {
  }
  .description {
    font-size: 22px;
    z-index: 1;
    position: absolute;
    top: 60px;
  }
  .external-links-modal {
    a {
      .svg-inline--fa {
        font-size: 1.2em;
      }
    }
  }
  .app-name {
    top: 20px;
    font-size: 25px;
  }
  .description2 {
    bottom: 70px;
    font-size: 22px;
  }
}

@media screen and (max-width: 550px) {
  .projectsContainer {
    margin: 0 10px;
    // margin-left: 20px;
  }
  .description {
    font-size: 22px;
    z-index: 1;
    position: absolute;
    top: 60px;
  }
  .info-button {
  }
  .projects-header {
    font-size: 35px;
    // margin-left: 55px;
    margin-top: 30px;
  }
  .projects-inner-container {
    // margin-left: 45px;
    // padding: 10px;
    margin-top: 25px;
  }
  .underline-projects {
    height: 4px;
    width: 300px;
    background-color: $dark-green;
  }
  .svg-inline--fa {
    font-size: 1.5em;
  }
  .description2 {
    bottom: 70px;
    font-size: 22px;
  }
  .modal-img {
    display: none;
  }
}
